MONGO_USERNAME=root
MONGO_PASSWORD=password
MONGO_URI=mongodb://root:password@localhost:27017/?authSource=admin
RABBITMQ_URI=amqp://guest:guest@localhost:5672/
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
FIXPROCESSOR_URL=http://localhost:5214
JWT_SECRET=secret-here
MSSQL_SA_PASSWORD=password-here
TRADE_DB_CONNECTION="Server=localhost,1433;Database=TradeDb;User Id=sa;Password=password-here;TrustServerCertificate=True"
REDIS_CONNECTION=localhost:6379